@use '../abstract/' as *;

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

@each $key, $val in $custom-text {
  $font-size: map-get($val, "font-size");
  .text-#{$key} {
    font-size: var(--#{$font-size});  
    line-height: map-get($val, "line-height");
    letter-spacing: map-get($val, "letter-spacing");
  }
}